footer.bg-white.py-4.mt-auto
    .container.px-5
        .row.align-items-center.justify-content-between.flex-column.flex-sm-row
            .col-auto
                .small.m-0 Copyright &copy; Capacitur 2023 (mentira)
            .col-auto
                a.small(href='#!') Privacidads
                span.mx-1 &middot;
                a.small(href='#!') Terminos y Condiciones
                span.mx-1 &middot;
                a.small(href='#!') Contacto