nav.navbar.navbar-expand-lg.navbar-light.bg-white.py-3
    .container.px-5
        a.navbar-brand(href='index.html')
            img(src='assets/icon-page.png', alt='...', width='30', height='30', class='d-inline-block align-text-top me-2')
            span.fw-bolder.text-primary Capacitur
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
            ul.navbar-nav.ms-auto.mb-2.mb-lg-0.small.fw-bolder
                li.nav-item
                    a.nav-link(href='index.html') Home
                li.nav-item
                    a.nav-link(href='contratar.html') Contratar
                li.nav-item
                    a.nav-link(href='demo.html') Demo
                li.nav-item
                    a.nav-link(href='informacion.html') Más información
